@import "tailwindcss";

:root {
	background-color: #d5e1ef;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@theme {
	--font-display: "Outfit", "sans-serif";
	--color-slate-900: hsl(218, 44%, 22%);
	--color-slate-500: hsl(216, 15%, 48%);
	--color-slate-300: hsl(212, 45%, 89%);
	--tracking-wide: 0.2px;
}
